.experienceBar{
    display: flex;
    align-items: center; 
    justify-content: center;  
}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div{
    flex: 1;
    height: 4px;
    max-width: 992px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div{
    height: 4px;
    border-radius: 4px;
    background: var(--green)
}

span.currentexperience{
    position: absolute;
    top: 12px;
    transform: translate(-50%)
}